<md-list dense class="animals">
  <md-list-item *ngFor="let animal of animals" [class.selected]="animal === selectedAnimal" (click)="gotoDetail(animal)">
    <md-icon md-list-avatar>pets</md-icon>
    <h3 md-line> {{animal.name.full}} </h3>
    <p md-line>Type: {{animal.species}} Breed: {{animal.breed}} ID: {{animal.id}}</p>
    <p md-line>Colour: {{animal.colour}} </p>
  </md-list-item>
  <span class="add" (click)="createAnimal()"  ><button md-mini-fab><md-icon>add circle</md-icon></button></span>
</md-list>
