<p>
  location-list works!
</p>
<md-list dense class="list">
  <md-list-item *ngFor="let location of locations" [class.selected]="location === selectedLocation" (click)="gotoDetail(location)">
    <md-icon md-list-avatar>home</md-icon>
    <h3 md-line> {{location.name}} </h3>
    <p md-line>Type: {{location.type}} PostCode: {{location.postcode}} ID: {{location._id}}</p>
    <p md-line>County: {{location.county}} </p>
  </md-list-item>
  <span class="add" (click)="create()"  ><button md-mini-fab><md-icon>add circle</md-icon></button></span>
</md-list>
