<p>
  location-detail works!
</p>
<p>
    <md-input-container class="full-width">
      <textarea mdInput placeholder="Address">Street</textarea>
    </md-input-container>
    <md-input-container class="full-width">
      <textarea mdInput placeholder="Address 2">Willage/Town/City</textarea>
    </md-input-container>
  </p>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-input-container class="full-width">
          <input mdInput placeholder="City">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="full-width">
          <input mdInput placeholder="Country">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="full-width">
          <input mdInput #postalCode maxlength="7" placeholder="Post Code">
          <md-hint align="end">{{postalCode.value.length}} / 7</md-hint>
        </md-input-container>
      </td>
    </tr>
  </table>
