<div *ngIf="animal" [hidden]="hideForm">
  <form class="animal-detail-form" #form="ngForm">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="Species" disabled [(ngModel)]="animal.species" name="species">
          </md-input-container>
        </td>
        <td>
          <md-select placeholder="Breed" [disabled]="isReadOnly ? true : null" [(ngModel)]="animal.breed" name="breed">
            <md-option *ngFor="let breed of constBreeds" [value]="breed.value">
              {{breed.value}}
            </md-option>
          </md-select>
        </td>
        <td>
          <md-select placeholder="Gender" [disabled]="isReadOnly ? true : null" [(ngModel)]="animal.gender" name="gender">
            <md-option *ngFor="let gender of constGenders" [value]="gender.value">
              {{gender.value}}
            </md-option>
          </md-select>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Display name" [disabled]="isReadOnly ? true : null" [(ngModel)]="animal.name.display" name="display">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Full Name" [disabled]="isReadOnly ? true : null" [(ngModel)]="animal.name.full" name="full">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container>
            <input
              mdInput placeholder="Size"
              #size
              [disabled]="isReadOnly ? true : null"
              [(ngModel)]="animal.size" name="size">
          </md-input-container>
        </td>
        <td>
          <md-select placeholder="Colour" [disabled]="isReadOnly ? true : null" [(ngModel)]="animal.colour" name="colour">
            <md-option *ngFor="let colour of constColours" [value]="colour.value">
              {{colour.icon}} {{colour.value}}
            </md-option>
          </md-select>
        </td>
        <td>
          <md-select placeholder="Activity" [disabled]="isReadOnly ? true : null" [(ngModel)]="animal.activity" name="activity">
            <md-option *ngFor="let activity of constActivities" [value]="activity.value">
              {{activity.value}}
            </md-option>
          </md-select>
      </tr>
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="ID" disabled [(ngModel)]="animal.id" name="id">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="Patient Since" [disabled]="isReadOnly ? true : null" type="date" [ngModel]="animal.patient_since | date:'yyyy-MM-dd'" name="patient_since">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="Birth Date" [disabled]="isReadOnly ? true : null" type="date" [ngModel]="animal.birth.date | date:'yyyy-MM-dd'" name="birth.date">
          </md-input-container>
        </td>
        <td>
          <md-checkbox [(ngModel)]="animal.birth.estimated" name="birth.estimated" [disabled]="isReadOnly ? true : null">Estimated Date</md-checkbox>
        </td>
      </tr>

    </table>

    <div [hidden]="!isReadOnly ? true : null">
      <button type="button" (click)="toggleReadOnly()"><md-icon>mode_edit</md-icon>Edit</button>
    </div>
    <div [hidden]="isReadOnly ? true : null">
      <button type="button" (click)="cancelEdit()"><md-icon>undo</md-icon>Cancel</button>
      <button type="button"><md-icon>save</md-icon>Save</button>
    </div>
<hr>
    <span>READ ONLY= {{isReadOnly}}</span>
    <p>brackets: [{{isReadOnly ? true : null}}]</p>
    <p>{{ form.value | json }}</p>
                  <br><h3>State: {{size.className}}</h3>
  </form>
</div>

<button md-raised-button (click)="toggleHideForm()">Hide Form</button>
<span>HIDE FORM= {{hideForm}}</span>


<!--
  <p>
      <md-input-container class="full-width">
        <textarea mdInput placeholder="Address">Street</textarea>
      </md-input-container>
      <md-input-container class="full-width">
        <textarea mdInput placeholder="Address 2">Willage/Town/City</textarea>
      </md-input-container>
    </p>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="City">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Country">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput #postalCode maxlength="7" placeholder="Post Code">
            <md-hint align="end">{{postalCode.value.length}} / 7</md-hint>
          </md-input-container>
        </td>
      </tr>
    </table>
-->
