<div *ngIf="animal" [hidden]="hideForm">
  <form (ngSubmit)="saveAnimal(f)" class="detail-form" #f="ngForm">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Display name" required [disabled]="isReadOnly ? true : null" [(ngModel)]="animal.name.display" name="display">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Full Name" required [disabled]="isReadOnly ? true : null" [ngModel]="animal.name.full || animal.name.display " (ngModelChange)="animal.name.full = $event" name="full">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="Species" required disabled [(ngModel)]="animal.species" name="species">
          </md-input-container>
        </td>
        <td>
          <md-select placeholder="Breed" required [disabled]="isReadOnly ? true : null" [(ngModel)]="animal.breed" name="breed">
            <md-option *ngFor="let breed of constBreeds" [value]="breed.value">
              {{breed.value}}
            </md-option>
          </md-select>
        </td>
        <td>
          <md-select placeholder="Gender" required [disabled]="isReadOnly ? true : null" [(ngModel)]="animal.gender" name="gender">
            <md-option *ngFor="let gender of constGenders" [value]="gender.value">
              {{gender.value}}
            </md-option>
          </md-select>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="Size" type="number" step="0.1" required [disabled]="isReadOnly ? true : null" [(ngModel)]="animal.size" name="size">
          </md-input-container>
        </td>
        <td>
          <md-select placeholder="Colour" required [disabled]="isReadOnly ? true : null" [(ngModel)]="animal.colour" name="colour">
            <md-option *ngFor="let colour of constColours" [value]="colour.value">
              {{colour.icon}} {{colour.value}}
            </md-option>
          </md-select>
        </td>
        <td>
          <md-select placeholder="Activity" required [disabled]="isReadOnly ? true : null" [(ngModel)]="animal.activity" name="activity">
            <md-option *ngFor="let activity of constActivities" [value]="activity.value">
              {{activity.value}}
            </md-option>
          </md-select>
      </tr>
      <tr>
        <td>
          <md-input-container><input mdInput placeholder="Age" type="number" step="0.1" [disabled]="isReadOnly ? true : null" [(ngModel)]="age" name="age"></md-input-container>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="Birth Date" disabled type="date" [ngModel]="animal.birth?.date | date:'yyyy-MM-dd'" name="birth.date">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="ID" disabled [(ngModel)]="animal.id" name="id">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="Patient Since" [disabled]="isReadOnly ? true : null" type="date" [ngModel]="animal.patient_since | date:'yyyy-MM-dd'" name="patient_since">
          </md-input-container>
        </td>
      </tr>

    </table>

    <div class="buttons">
      <span [hidden]="!isReadOnly ? true : null">
      <button type="button" (click)="toggleReadOnly()"><md-icon>mode_edit</md-icon>Edit</button>
    </span>
      <span [hidden]="(isReadOnly || isNewAnimal) ? true : null">
      <button type="button" (click)="cancelEdit()"><md-icon>undo</md-icon>Cancel</button>
    </span>
      <span [hidden]="(isReadOnly || !isNewAnimal) ? true : null">
      <button type="button" (click)="goBack()"><md-icon>undo</md-icon>Back</button>
    </span>
      <span [hidden]="isReadOnly ? true : null">
      <button type="submit" [disabled]="f.invalid"><md-icon>save</md-icon>Save</button>
    </span>
    </div>

    <hr>
    <span>READ ONLY= {{isReadOnly}}</span> brackets: [{{isReadOnly ? true : null}}]
    <pre>valid form? {{ f.valid }}</pre>
    <pre>invalid form? {{ f.invalid }}</pre>
    <p>{{ f.value | json }}</p>
  </form>
</div>

<button md-raised-button (click)="toggleHideForm()">Hide Form</button>
<span>HIDE FORM= {{hideForm}}</span>


<!--
  <p>
      <md-input-container class="full-width">
        <textarea mdInput placeholder="Address">Street</textarea>
      </md-input-container>
      <md-input-container class="full-width">
        <textarea mdInput placeholder="Address 2">Willage/Town/City</textarea>
      </md-input-container>
    </p>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="City">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Country">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput #postalCode maxlength="7" placeholder="Post Code">
            <md-hint align="end">{{postalCode.value.length}} / 7</md-hint>
          </md-input-container>
        </td>
      </tr>
    </table>
-->
