<p>
  animal-detail works!
</p>
<div *ngIf="animal">
  ID: {{animal.id}} Gender: {{animal.gender}} Breed: {{animal.breed}}
  <!-- Basic form  -->
  <form class="animal-detail-form">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <!-- Species (Disabled as locked to horse at the mo) -->
          <md-input-container>
            <input mdInput placeholder="Species" disable [(ngModel)]="animal.species" name="species">
          </md-input-container>
        </td>
        <td>
          <md-select placeholder="Breed" [(ngModel)]="animal.breed" name="breed">
            <md-option *ngFor="let breed of breeds" [value]="breed.value">
              {{breed.value}}
            </md-option>
          </md-select>
        </td>
        <td>
          <md-select placeholder="Gender" [(ngModel)]="animal.gender" name="gender">
            <md-option *ngFor="let gender of genders" [value]="gender.value">
              {{gender.value}}
            </md-option>
          </md-select>
        </td>
      </tr>
<!--
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Display name">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Full Name">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
            <md-select placeholder="Size" [(ngModel)]="selectedValue" name="size">
            <md-option *ngFor="let size of sizes" [value]="size.value">
              {{size.viewValue}}
            </md-option>
          </md-select>
        </td>
        <td>
            <md-select placeholder="Colour" [(ngModel)]="selectedValue" name="colour">
            <md-option *ngFor="let colour of colours" [value]="colour.value">
              {{colour.icon}} {{colour.value}}
            </md-option>
          </md-select>
        </td>
        <td>
            <md-select placeholder="Activity" [(ngModel)]="selectedValue" name="activity">
            <md-option *ngFor="let activity of activities" [value]="activity.value">
              {{activity.viewValue}}
            </md-option>
          </md-select>
      </tr>
    </table>

  <p>
      <md-input-container class="full-width">
        <textarea mdInput placeholder="Address">Street</textarea>
      </md-input-container>
      <md-input-container class="full-width">
        <textarea mdInput placeholder="Address 2">Willage/Town/City</textarea>
      </md-input-container>
    </p>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="City">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Country">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput #postalCode maxlength="7" placeholder="Post Code">
            <md-hint align="end">{{postalCode.value.length}} / 7</md-hint>
          </md-input-container>
        </td>
      </tr>
-->
    </table>

  </form>
</div>
