<md-toolbar color="primary">
  <md-icon>account_circle</md-icon>  <!-- TODO: Make click for login -->
  {{title}} Beast Treatment!
<div class="g-signin2" data-onsuccess="onSignIn"></div>
  <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>

<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item (click)="gotoUserSettings()" >Settings</button>
  <button md-menu-item (click)="signOut()">Sign Out</button>
  <button md-menu-item >About</button>
</md-menu>
