<md-tab-group>
  <md-tab label="Animals">
    <h2>List of Animals</h2>
    <!--<animals-list></animals-list>
    -->
  </md-tab>

  <md-tab label="People">
    <h2>List of People</h2>
    <p>Customers, Vets, Yard Managers, Therapists, Farriers, ....</p>
    <p>Will be a list of people filtered by type.</p>
    <p>This tab might just have customers.. Another tab for all other types of people. (A person could be in both lists)</p>
  </md-tab>

  <md-tab label="Locations">
    <h2>List of Locations</h2>
    <p>Places associated with Animals or People</p>
    <p>Could be a yard, a billing address, a business address, etc</p>
    <md-card>
      <h1>Lists might be put onto 'cards' (like this) that can be shown on screen at the same time</h1>
      <p>ie. Animals next to People. Might just put a detail area on the right and display detail of whatever list item is highlighted on the left</p>
      <p>This is some buttons</p>
      <button md-button>All</button>
      <button md-raised-button>Of</button>
      <button md-raised-button color="primary">The</button>
      <button md-raised-button color="accent">Buttons</button>
    </md-card>
  </md-tab>

</md-tab-group>
