<p>
  place-detail works!
</p>
<div *ngIf="place && constants">
  <form (ngSubmit)="saveLocation(f)" class="detail-form" #f="ngForm">
    <md-select placeholder="Property Type" required [disabled]="isReadOnly ? true : null" [(ngModel)]="place.type" name="type">
      <md-option *ngFor="let type of constants.types" [value]="type.value">
        {{type.value}}
      </md-option>
    </md-select>
    <md-input-container class="full-width">
      <input mdInput placeholder="Address Name" [disabled]="isReadOnly ? true : null" [(ngModel)]="place.name" name="name">
      <input mdInput placeholder="Number" [disabled]="isReadOnly ? true : null" [(ngModel)]="place.number" name="number">
      <input mdInput placeholder="Street" [disabled]="isReadOnly ? true : null" [(ngModel)]="place.street" name="street">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="City/Town" [disabled]="isReadOnly ? true : null" [(ngModel)]="place.city" name="city">
      <input mdInput placeholder="County" [disabled]="isReadOnly ? true : null" [(ngModel)]="place.county" name="county">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Post Code" [disabled]="isReadOnly ? true : null" [(ngModel)]="place.postcode" name="postcode">
      <input mdInput #postalCode maxlength="7" placeholder="Post Code">
      <md-hint align="end">Hmm</md-hint>
      <input mdInput placeholder="Country" disabled [(ngModel)]="place.country" name="country">
    </md-input-container>
    <table>
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="ID" disabled [(ngModel)]="place._id" name="id">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="Location Since" [disabled]="isReadOnly ? true : null" type="date" [ngModel]="place.since | date:'yyyy-MM-dd'" name="patient_since">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="Latitude" type="number" step="0.000001" min="-180" max="180" [disabled]="isReadOnly ? true : null" [(ngModel)]="place.coordinates.lat" name="lat">
            <input mdInput placeholder="Longitude" type="number" step="0.000001" min="-180" max="180" [disabled]="isReadOnly ? true : null" [(ngModel)]="place.coordinates.long" name="long">
          </md-input-container>
        </td>
      </tr>
    </table>

    <div label="buttons" class="buttons">
      <span [hidden]="!isReadOnly ? true : null">
    <button type="button" (click)="toggleReadOnly()"><md-icon>mode_edit</md-icon>Edit</button>
    </span>
      <span [hidden]="(isReadOnly || isNewAnimal) ? true : null">
    <button type="button" (click)="cancelEdit()"><md-icon>undo</md-icon>Cancel</button>
    </span>
      <span [hidden]="(isReadOnly || !isNewAnimal) ? true : null">
    <button type="button" (click)="goBack()"><md-icon>undo</md-icon>Back</button>
    </span>
      <span [hidden]="isReadOnly ? true : null">
    <button type="submit" [disabled]="f.invalid"><md-icon>save</md-icon>Save</button>
    </span>
    </div>
  </form>
</div>
